p {
    font-size: 22pt;
    color: red;
}
p#gruby_krajkowski {
    color: green;
    font-size: 17pt;
    font-weight: 900;
}
#dlawszystkich_krajkowski {
    color: yellow;
    font-size: 10pt;
    font-weight: 900;
}