p#pogrubienie_krajkowski {
    font-size: 10px;
    color: rgb(139, 95, 201);
}
p#pochylona_krajkowski {
    font-size: 40pt;
    color: rgb(239, 145, 101);
}
p#index_gorny_krajkowski {
    font-size: 1.5cm;
    color: rgb(159, 145, 21);
}
p#index_dolny_krajkowski {
    font-size: 2.5cm;
    color: rgb(59, 245, 200);
}
p#mono_krajkowski {
    font-size: 45px;
    color: rgb(31, 225, 101);
}
p#powiekszenie_krajkowski {
    color: rgb(89, 65, 151);
}
p#pomniejszenie_krajkowski {
    color: rgb(189, 165, 50);
}